@import "tailwindcss";

body {
	background-color: #002642;
}

.primary {
	/* deep space blue */
	color: #002642;
}

.secondary {
	/* perusian blue */
	color: #001b2e;
}

.bg-primary {
	background-color: #002642;
}

.bg-secondary {
	background-color: #001b2e;
}
