@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--color-bgdark: #002642; /* deep space blue */
	--color-bglight: #FEFEFE;
	--color-bgsecondary: #001b2e;
	--color-textdark: #FFFFFF;
	--color-textlight: #002642;
	--color-textsecondary: #001b2e; /* perusian blue */
}
